<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
    <title>Raport</title>
</head>
<body>
      <div class="page-header">
        <h3 class="text-primary">Raport</h3>
      </div>
      <h4>Dane dla: {{ file_name }}</h4>
      <h4>Wykorzystany algorytm: {{ clasificator }}</h4>
      <h4>Parametry: {% for key,value in parameters.items()%}
          {{ key }}: {{ value }},
          {% endfor %}
      </h4>
            <a href="/static/reports/raport_{{ rep }}.pdf">
       <button type="submit" class="btn btn-outline-secondary">Pobierz raport</button>
            </a>
      <a href="/static/clean_data/clean_{{ file_name }}">
      <button type="submit" class="btn btn-outline-secondary">Pobierz oczyszczone dane</button> <br>
      </a>

      <script>
          function myFunction() {
             var x = document.getElementById("table");
             if (x.style.display === "none") {
                 x.style.display = "block";
             } else {
            x.style.display = "none";
             }
          }
      </script>
      <br>
      <button onclick="myFunction()" class="btn btn-secondary">Pokaż/ukryj dane</button>
      <div id="table">
{% for table in tables %}
            {{ table|safe }}
{% endfor %}
      </div>
</body>
</html>